.usage-cost {
  height: 50%;
  width: 100%;
  color: white;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #0f1642;
  padding: 24px;
  margin-top: 20px;
  margin-left: 2px;
}

.usage-cost > .recharts-responsive-container .recharts-cartesian-grid-vertical {
  display: none;
}

.usage-cost .recharts-cartesian-axis-line {
  display: none;
}
