.usage-cost {
  height: 45%;
}

.usage-cost > .recharts-responsive-container .recharts-cartesian-grid-vertical {
  display: none;
}

.usage-cost .recharts-cartesian-axis-line {
  display: none;
}
