.app-analytics {
  color: white;
  height: 300px;
  width: 36%;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #0f1642;
}

.app-analytics .progress {
  background-color: white;
  height: 5px;
  width: 410.44px;
  color: white;
}
.app-analytics .progress > .progress-bar {
  background: #7467f0;
}
