.active-user-chart-border {
  width:371px;
  height:  300px;
  color: black;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #0F1642;
 
}
.area-chart {
  margin-top: 130px;
}

body{
  background-color: black;
}
h6{
  color: white;
}
