.active-user-chart-border {
  width:371px;
  height:  300px;
  color: black;
  border: 1px solid #979797;
  border-radius: 12px;
  background-color: #0F1642;
}

body{
  background-color: black;
}
h6{
  color: white;
}
