.subscription-analytics {
  color: white;
  width: 582px;
  height: 300px;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #0f1642;
 /* padding-right: 5px; */
  margin: 10px;
 
}

.pie-chart{
  margin-bottom: 90px;;
}