.tabs {
  background-image: linear-gradient(to right, #333 60%, lightgray 50%);
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    border: none;
}

.tab {
  border-bottom: 1px dashed lightgray !important;
  background-image: linear-gradient(to right, red 10%, #d4d422 30%, #1ab5b5);
    background-position: bottom;
    background-size: 30px 4px;
    background-repeat: no-repeat;
}

.tab > li {
  color: white;
  font-size: 12px;
}

.tab > li:hover {
  border: none;
}
.tab > li > button {
  border: none;
  color: white;
}
.tab > li > button:hover {
  border: none;
  background-color: transparent;
  color: white;
}

.tab > li > button:focus {
  border: none !important;
  border-color: transparent !important;
}
.tab > li > button:focus-visible {
  border: none !important;
  border-color: transparent !important;
}

.tab > li > .active {
  color: white !important;
  background: transparent !important;
  font-size: 13px;
  font-weight: 600;
  border: none !important;
}
