.area-chart-down {
  margin-top: 30px;
}

.dot {
  height: 52px;
  width: 52px;
  background-color: #eaf7fe;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}

.img-txt {
  margin-top: 20px;
  margin-left: 30px;
}

.circle{
  border-radius: 50%; 
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #eaf7fe;
  margin-top: 20px;
  margin-left: 23px;
 border:2px solid #00A9FA;
 }

 .download-app{
  margin: 20px;
 }
